html, body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* Increase logo size */
.logo-img {
    height: auto;   /* adjust as needed */
    width: 80px;    /* keeps aspect ratio */
}

/* Navbar */
.navbar-brand {
    font-size: 2.5rem;
    color: #1E3A8A !important;
}
.nav-link {
    color: #333 !important;
}
.nav-link:hover {
    color: #1E3A8A !important;
}
.btn-primary {
    background-color: #1E3A8A;
    border: none;
}
.btn-warning {
    background-color: #F97316;
    border: none;
}

/* Hero Section */
section.bg-primary {
    background: linear-gradient(135deg, #1E3A8A, #3B82F6);
}
section.bg-primary h1 {
    font-size: 2.5rem;
}
section.bg-primary p {
    font-size: 1.2rem;
}

/* Carousel */
.carousel-item {
    padding: 2rem;
    background-color: #f1f5f9;
    border-radius: 8px;
}
.carousel-item h5 {
    color: #1E3A8A;
    font-weight: bold;
}
.carousel-item p {
    color: #555;
}

/* Features Section */
#features h2 {
    color: #1E3A8A;
}
#features h5 {
    color: #F97316;
    font-weight: bold;
}

/* Why Choose LearnOrbit */
section.bg-light h2 {
    color: #1E3A8A;
}
section.bg-light h6 {
    color: #F97316;
    font-weight: bold;
}

/*Admin Dashboard*/

/* Card Styling */

.d-flex {
  background: url('/static/images/adm_dsh.jpg') no-repeat center;
  background-size: cover;
}
        .dashboard-card {
            padding: 30px;
            border-radius: 15px;
            transition: all 0.3s ease;
            border: none;
        }

        .dashboard-card:hover {
            transform: translateY(-8px);
            box-shadow: 0 15px 30px rgba(0,0,0,0.15);
        }

        

        /* Buttons */
        .btn-success {
            background: linear-gradient(135deg, #22c55e, #16a34a);
            border: none;
        }

        .btn-warning {
            background: linear-gradient(135deg, #f97316, #ea580c);
            border: none;
            color: white;
        }

        h5 {
            margin: 10px 0;
            font-weight: 600;
        }



/* Footer */
footer {
    background-color: #1E3A8A;
}
footer h5 {
    color: #F97316;
}
footer a {
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
