{% extends 'admin_base.html' %}

{% block content %}
<div class="d-flex">
    <!-- Main Content -->
    <div class="main-content p-4">

       <marquee behavior="alternate"><h2 class="mb-3">Registered Teachers</h2></marquee>

        <h2>Add Teacher</h2>

        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        {% if success %}
        <div class="alert alert-success">{{ success }}</div>
        {% endif %}



    <form method="POST">

        First Name:
        <input type="text" name="fname" required><br><br>

        Last Name:
        <input type="text" name="lname" required><br><br>

        Email:
        <input type="email" name="email" required><br><br>

        Phone:
        <input type="text" name="phone" required><br><br>

        Password:
        <input type="password" name="password" required><br><br>

        <input type="submit" value="Add Teacher" class="btn-success">

    </form>

   <a href="/admin_dashboard">Back to Dashboard</a>
</div>
</div>


{% endblock %}