<h2>Admin Register New Student</h2>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

{% if success %}
<div class="alert alert-success">{{ success }}</div>
{% endif %}


<form method="POST">
    First Name: <input type="text" name="fname"><br><br>
    Last Name: <input type="text" name="lname"><br><br>
    Father Name: <input type="text" name="ftname"><br><br>
    Mother Name: <input type="text" name="mtname"><br><br>
    Email: <input type="email" name="email"><br><br>
    Phone No: <input type="number" name="sphno"><br><br>
    Class: <input type="text" name="stdclass"><br><br>
    Class Section: <input type="text" name="classsec"><br><br>
    Password: <input type="password" name="password"><br><br>
    <button type="submit">Register</button>
</form>