{% extends 'admin_base.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container mt-4">
    <h3>Analytics Dashboard</h3>

<!-- SUMMARY CARDS -->
<div class="row mt-4">

    <div class="col-md-3">
        <div class="card p-3 text-center shadow">
            <h5>Total Students</h5>
            <h3>{{ total_students }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center shadow">
            <h5>Pass %</h5>
            <h3>{{ pass_percent }}%</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center shadow">
            <h5>Failures</h5>
            <h3>{{ fail_count }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center shadow">
            <h5>Topper</h5>
            <h3>{{ topper_name }}</h3>
        </div>
    </div>

</div>

<div class="row mt-4">


<!-- BAR CHART -->
<div class="col-md-8">
    <div class="card p-3 shadow">
        <h5>Subject-wise Average</h5>
        <canvas id="barChart"></canvas>
    </div>
</div>

<!-- PIE CHART -->
<div class="col-md-4">
    <div class="card p-3 shadow">
        <h5>Pass vs Fail</h5>
        <canvas id="pieChart"></canvas>
    </div>
</div>


</div>


<!-- SUBJECT AVERAGE -->
<div class="card mt-4 p-4 shadow">
    <h5>Subject-wise Average</h5>

    <table class="table table-bordered mt-3">
        <tr>
            <th>Subject</th>
            <th>Average Marks</th>
        </tr>

        {% for s in subject_data %}
        <tr>
            <td>{{ s.name }}</td>
            <td>{{ "%.2f"|format(s.avg_marks) }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


</div>











<script>

// =====================
// BAR CHART DATA
// =====================
const subjectLabels = {{ subject_data | map(attribute='name') | list | tojson }};
const subjectMarks = {{ subject_data | map(attribute='avg_marks') | list | tojson }};

// BAR CHART
new Chart(document.getElementById('barChart'), {
    type: 'bar',
    data: {
        labels: subjectLabels,
        datasets: [{
            label: 'Average Marks',
            data: subjectMarks
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: { display: false }
        }
    }
});


// =====================
// PIE CHART DATA
// =====================
const passCount = {{ pass_count }};
const failCount = {{ fail_count }};

// PIE CHART
new Chart(document.getElementById('pieChart'), {
    type: 'doughnut',
    data: {
        labels: ['Pass', 'Fail'],
        datasets: [{
            data: [passCount, failCount]
        }]
    },
    options: {
        responsive: true
    }
});

</script>


{% endblock %}
