<h2>Forgot Password</h2>

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}

<!-- STEP 1 -->
{% if not show_reset %}

<form method="POST">

Enter Email:

<input type="email" name="email" required>

<br><br>

<button type="submit">Verify Email</button>

</form>

{% endif %}

<!-- STEP 2 -->

{% if show_reset %}

<h3>Reset Password</h3>

<form method="POST">

New Password:

<input type="password" name="new_password" required>

<br><br>

Confirm Password:

<input type="password" name="confirm_password" required>

<br><br>

<button type="submit">Update Password</button>

</form>

{% endif %}