{% extends "base.html" %}

{% block content %}

<h2>Forgot Password</h2>

    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}

    {% if success %}
        <p style="color:rgb(55, 184, 23)">{{ success }}</p>
    {% endif %}

<!-- STEP 1 -->
    {% if not show_reset %}

    <form method="POST">

    Enter Email:

    <input type="email" name="email" required>

    <br><br>

    <input type="submit" value="Email" class="btn btn-danger">

    </form>

    <a href="/student_login" class="btn btn-wrning">Go to Login Page</a>

    {% endif %}


<!-- STEP 2 -->

    {% if show_reset %}

    <h3>Reset Password</h3>

    <form method="POST">

    New Password:

    <input type="password" name="new_password" required>

    <br><br>

    Confirm Password:

    <input type="password" name="confirm_password" required>

    <br><br>

    <button type="submit">Update Password</button>

    </form>
    {% endif %}













    
    {% endblock %}