{% extends "base.html" %}

{% block student_dashboard %}

        
<div class="container border border-primary">
    <div class="card border border-primary">
        <div class="card-header row border border-danger">
            <div class="col-md-4">Welcome {{ student["first_name"] }}</div>
            <div class="col-md-7 "><h1>DASHBOARD</h1></div>
            <div class="col-md-1"><a class="light"href="/logout">Logout</a></div>

            
        </div>
        <div class="card-body">
            <a class="btn btn-danger" href="/stdstudent_profile" role="button">Update Profile</a>
            <a class="btn btn-warning" href="#" role="button">Check Admit Card</a>
            <a class="btn btn-success" href="#" role="button">Check Result</a>
            <a class="btn btn-primary" href="#" role="button">Library Book Status</a>
            <a class="btn btn-danger" href="#" role="button">Password Reset</a>
            <a class="btn btn-secondary" href="#" role="button">Suggestion Box</a>
        </div>
    </div>

<br><br><br><br><br><br><br>

<p><strong>Name:</strong> {{ student["first_name"] }}</p>
<p><strong>Last Name:</strong> {{ student["last_name"] }}</p>
<p><strong>Email:</strong> {{ student["email"] }}</p>
<p><strong>Phone:</strong> {{ student["phone"] }}</p>




</div>









{% endblock%}