{% extends "base.html" %}

{% block content %}
       
<div class="row">
    <!-- 🔵 NAVBAR -->
    <nav class="navbar navbar-dark bg-primary px-3 text-white">
        <div class="col-md-2 ">Welcome {{ student["first_name"] }}</div>
        <div class="col-md-5 "><h2>Dashboard</h2></div>
        <div class="col-md-4">
            <a href="/stddashboard" class="btn btn-light btn-sm me-2">Dashboard</a>
            <a href="/student_logout" class="btn btn-danger btn-sm">Logout</a>
        </div>
    </nav>
</div>

<h2>Student Profile</h2>

<form method="POST">

First Name:
<input type="text" value="{{ student['first_name'] }}" readonly>
<br><br>

Last Name:
<input type="text" value="{{ student['last_name'] }}" readonly>
<br><br>

Email:
<input type="email" name="email" value="{{ student['email'] }}" required>
<br><br>

Phone:
<input type="text" name="phone" value="{{ student['phone'] }}">
<br><br>

<input type="submit" value="Update Profile" class="btn btn-success">

</form>

<br>

<a href="/stddashboard">Back to Dashboard</a>




{% endblock %}