{% extends "base.html" %}
{% block student_login %}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-lg p-4">
            <h3 class="text-center mb-4">Student Login</h3>

            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}

            <form method="POST">
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="semail" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="spassword" class="form-control" required>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">
                        Login
                    </button>
                </div>
            </form>

            <hr>
            <p class="text-center">
                Back to <a href="/">Home</a>
            </p>

        </div>
    </div>
</div>

{% endblock %}