body {
    margin: 0;
    font-family: Arial;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
}

.menu-item {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #495057;
}

/* Main Content */
.main-content {
    flex: 1;
}

/* Cards */
.dashboard-card {
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.dashboard-card:hover {
    transform: scale(1.05);
}

/* Icons */
.icon {
    width: 60px;
    margin-bottom: 10px;
}